@model MealTracker.Models.MealListViewModel

@{
    ViewBag.Title = "MealList";
}

<h2>MealList</h2>

<p>
    @Html.ActionLink("Add a Meal", "Create")
</p>

<table class="table">

@foreach (var item in Model.Meals) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mealID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servings)
        </td>
        @*
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mealID }) |
            @Html.ActionLink("Details", "Details", new { id=item.mealID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mealID })
        </td>
         *@
    </tr>
}
</table>

@foreach (var item in Model.Meals)
{
    <div class="well">
        <strong>@item.mealName</strong>
        <span class="pull-right label label-primary">@item.totalCost</span>
    </div>
}
